<div>
  <ul>
    <% @user.errors.to_a.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
</div>
<div>
  <%= form_for @user, url: {action: "update"} do |f| %>
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    <%= f.label :password, 'Password' %>
    <%= f.text_field :password %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
