<div>
  <ul>
    <% @user.errors.to_a.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
</div>
<div>
  <%= form_for @user, url: {action: "update"} do |f| %>
    <div>
      <%= f.label :username%>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :email%>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password%>
      <%= f.text_field :password %>
    </div>
    <div><%= f.submit "Submit" %> </div>
  <% end %>
</div>
