<!-- <form accept-charset="UTF-8" action='/users'method='post'>
  Username: <input type='text' name='user[username]'>
  Email: <input type='text' name='user[email]'>
  Password: <input type='text' name='user[password]'>
  <input type='submit' value='Submit'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> -->
<h1> Sign up </h1>
<div class="row" >
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: {action: "create"} do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control"%>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control"%>
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, class: "form-control" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
